main {
    display: flex;
    padding-top: 5em;
    padding-left: 5em;
    padding-right: 5em;
    height: calc(92vh - 40px);
}

.main__left-side,
.main__right-side {
    flex: .5;
}

.main__left-side {
    padding: 1.3em;
    padding-right: 3em;
    padding-right: 3em;
}

.gallery-container {
    width: 80%;
    margin: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main-image-container {
    width: 80%;

}

.main-image-container>img {
    width: 100%;
    border-radius: 10px;
}

.main-image-container>img {
    cursor: pointer;
}

.image-modal {
    position: absolute;
    display: none;
    place-items: center;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8))
}

.display-modal {
    display: grid;
}

.main-image-container2 {
    position: relative;
    width: 400px;
    height: 250px;

}

.thumbnails-modal-container {
    width: 500px;
    margin-left: 6%;
}

.main-image-container2>button {
    padding: 15px 20px;
    border: none;
    border-radius: 30px;
    background-color: white;
    position: absolute;
    top: 70%;
}

.main-image-container2>img {
    width: 100%;
    border-radius: 15px;
}

.prev-btn {
    left: -30px;
}

.next-btn {
    right: -20px;
}

.close-modal-btn {
    width: fit-content;
    position: absolute;
    right: 0;
    top: -60px !important;
    padding: 10px 12px !important;
}

.main-image-container2>button:hover {
    background-color: hsl(26, 100%, 55%);
    cursor: pointer;
}



.main__right-side {
    padding-top: 3em;
}

.product-details-container {
    width: 80%;
}

.company-name {
    font-size: 1.1rem;
    font-weight: 700;
    color: hsl(26, 100%, 55%);
    text-transform: uppercase;
    margin-bottom: 1em;
}

.product-name {
    text-transform: capitalize;
    font-size: 2.2rem;
}

.product-name>span {
    display: block;
}

.product-description {
    font-size: .9rem;
    line-height: 23px;
    color: hsl(220, 14%, 75%);
    margin-top: 2em;
}

.pricing-container {
    display: flex;
    margin-top: 1em;
    align-items: center;
}

.pricing-container-price {
    font-size: 1.8rem;
    font-weight: 700;
    margin-right: 15px;
}

.discount {
    color: hsl(26, 100%, 55%);
    font-size: .9rem;
    font-weight: 700;
    background-color: hsl(25, 100%, 94%);
    padding: 2px 5px;
    border-radius: 5px;
}

.original-price {
    font-size: .9rem;
    color: hsl(220, 14%, 75%);
    text-decoration: line-through;
    margin-top: .3em;
}

.quantity-add-to-cart-container {
    display: flex;
    align-items: center;
    margin-top: 2em;
}

.quantity-contents-container {
    display: flex;
    width: 35%;
    background-color: hsl(223, 64%, 98%);
    padding: 12px 15px;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    margin-right: 10px;
}

.quantity-contents-container>button {
    border: none;
    background-color: transparent;
}

.quantity-contents-container>button:hover {
    cursor: pointer;
}

.add-to-cart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    border: none;
    padding: 15px 0;
    border-radius: 10px;
    background-color: hsl(26, 100%, 55%);
    color: white;
    font-weight: 700;
}

.add-to-cart-btn>img {
    margin-right: 10px;
}

.add-to-cart-btn:hover {
    cursor: pointer;
    opacity: .75;
}


@media (max-width: 1323px) {

    main {
        padding-top: 3em;
    }

    .main-image-container {
        width: 100%;

    }

    .thumbnails-modal-container {
        width: 400px;
        margin-left: 0;
    }


}


@media (max-width: 1292px) {

    .gallery-container {
        width: 100%;
    }

    .main-image-container {
        width: 80%;

    }
}

@media (max-width: 1270px) {


    .main-image-container {
        width: 100%;

    }


}

@media (max-width: 1000px) {

    main {
        flex-direction: column;
        padding-top: 1em;
    }

}


@media (max-width: 652px) {

    main {
        padding: 0;
    }

    .main-image-container {
        display: none;
    }

    .image-modal {
        display: grid;
        position: initial;
        display: block;
        z-index: 0;
        overflow: auto;
        width: 100%;
        height: 420px !important;
        background: transparent;
        overflow: hidden;
    }

    .gallery-container {
        display: block;
    }

    .main__left-side {
        padding: 0;
    }

    .main__right-side {
        padding: 1em;
        padding-bottom: 1.5em;
    }

    .product-details-container {
        width: 100%;
    }

    .product-description {
        width: 100%;
    }

    .main-image-container2 {
        width: 100%;
    }

    .main-image-container2>img {
        border-radius: 0;
    }

    .prev-btn {
        left: 10px;
    }

    .next-btn {
        right: 10px;
    }

}